# Files to be ignored by Prettier code formatter
# From `.gitignore`

# Folders
.idea/
.@vscode/test-electron/
.vscode-test/
node_modules
out

# Files
*.vsix
# Compiled grammar isn't committed, shouldn't be checked
language/ahk.tmLanguage.json